
<div class="card" style="background: linear-gradient(56deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);">
<div class="card-body"  >
    <div class="row">
    <div class="col-sm-9">  
        <h5 class="card-title" #itemMenu>{{mainContent}}</h5>
        <p>{{subContent}}</p>
    </div>
    <div class="col-sm-3" *ngIf="actionRequired"> 
        <input data-attr="mainContent" #itemCard (change)="valueChanged(index)" type="number" min=0 value="0">
    </div>        
    </div> 
</div>
</div>
  