<div class="jumbotron" id="demo">
    <h1>My Cart</h1>
  </div>
<div class="row" id="demo">    
    <div class="col-sm-12" #itemCard *ngFor="let item of myOrderList; let i = index">
        <app-item-card  [mainContent]="item.itemName" [subContent]="'Price : ' + item.price+'\n Qty : ' + item.quantity "></app-item-card>
    </div>
  </div> <br>
  <h2>Total : {{myOrderList[0].total}}</h2>
  <button class="btn btn-danger" (click)="placeOrder()">Click here to pay</button>

  <div  class="modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{confirmationMessage}}.
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" (click)="ok()">Ok</button>
        </div>
      </div>
    </div>
  </div>  